.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 14vw;
}


.text{
    align:center;
}