html, body {
	width: 100%;
    height: 0px;
}

.wrapper {
    width: 100%;
    height: 686px;
    top: -1px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

/**
 * Padding is set relative to the width 
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
.carousel {
	width: 100%;
	position: relative;
	padding-top: 60%;
	overflow: hidden;
}

.inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    margin-bottom: 50px;
}

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */
.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
}

.slide.active,
.slide.left,
.slide.right {
	z-index: 2;
	opacity: 1;
}

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */

.js-reset-left {left:auto}

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
.slide.left {
	left: -100%;
	right: 0;
}

.slide.right {
	right: -100%;
	left: auto;
}

.transition .slide.left{left: 0%}
.transition .slide.right{right: 0%}

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
.transition .slide.shift-right{right: 100%; left: auto}
.transition .slide.shift-left{left: 100%; right: auto}

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
.transition .slide {
	transition-property: right, left, margin;
}

/**
 * ==========================
 * Indicators
 *
 */
.indicators {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
    padding: 0;
    margin-left: 44%;
    margin-bottom: 20px;
}

.indicators li {
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 5px;
	background: #fff;
	list-style-type: none;
	border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-out;
}

.indicators li.active {background: #93278f}

.indicators li:hover {background-color: #2b2b2b}

/**
 * ==========================
 * Arrows 
 *
 */
.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    z-index: 5;
    border-top: 3px solid #4B0082;
    border-right: 3px solid #4B0082;
    cursor: pointer;
    transition: border-color 0.2s ease-out;
}

.arrow:hover {
    border-color: #A0A09F;
}

.arrow-left {
  left: 100px;
  transform: rotate(225deg);
}

.arrow-right {
  right: 100px;
  transform: rotate(45deg);
}

/**
 * ==========================
 * For demo purposes only
 * 
 * Please note that the styles below are used
 * for the purposes of this demo only. There is no need
 * to use these in any of your own projects
 *
 */
.slide {
	text-align: center;
    padding-top: 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide:nth-child(5) h2 {
	width: 100%;
    height: 100px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -190px;
    color: #fff;
    font-family: libre baskerville, serif;
	font-size: 33px;
    letter-spacing: 10px;
 }
.slide:nth-child(5) p {
    width: 100%;
    height: auto;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    color: #fff;
    font-family: brandon grosteque, sans-serif;
    font-size: 25px;
    word-wrap: break-word;
}
.slide:nth-child(5) button {
    width: 158px;
    height: 44px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-family: brandon grosteque, sans-serif;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
}
.slide:nth-child(5) button:hover {
    background-color: #fff;
    color: #000;
}
.slide:nth-child(1) h2, .slide:nth-child(2) h2, .slide:nth-child(3) h2, .slide:nth-child(4) h2, .slide:nth-child(6) h2 {
	width: 100%;
    height: 100px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -190px;
    color: #000;
    font-family: libre baskerville, serif;
	font-size: 33px;
    letter-spacing: 10px;
 }
.slide:nth-child(1) p, .slide:nth-child(2) p, .slide:nth-child(3) p, .slide:nth-child(4) p, .slide:nth-child(6) p {
    width: 100%;
    height: auto;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    color: #000;
    font-family: brandon grosteque, sans-serif;
    font-size: 25px;
    word-wrap: break-word;
}
.slide:nth-child(1) button, .slide:nth-child(2) button, .slide:nth-child(3) button, .slide:nth-child(4) button, .slide:nth-child(6) button {
    width: 158px;
    height: 44px;
    background-color: #727272;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #605E5E;
    color: #fff;
    font-family: brandon grosteque, sans-serif;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
}
.slide:nth-child(1) button:hover, .slide:nth-child(2) button:hover, .slide:nth-child(3) button:hover, .slide:nth-child(4) button:hover, .slide:nth-child(6) button:hover {
    background-color: #CCCCCC;
    color: #605E5E;
}
.slide:nth-child(1) {
	background-image: url(slide1.jpg);
    background-position: center top;
 }
.slide:nth-child(2) {
	background-image: url(slide2.jpg);
    background-position: right top;
}
.slide:nth-child(3) {
	background-image: url(slide3.jpg);
    background-position: center;
 }
.slide:nth-child(4) {
	background-image: url(slide4.jpg);
    background-position: right;
 }
.slide:nth-child(5) {
	background-image: url(slide5.png);
    background-position: center;
 }
.slide:nth-child(6) {
	background-image:url(slide6.jpg);
    background-position: center;
 }