header{
    position: relative;
}

.navbar{
    background-color: #41475F;
    position: fixed;
    top: 0;
    width: 100%;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #7580AB;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3B4157;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #616B8F;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.right-side, .left-side, .ua{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.ua{
    background-color: #33354A;
    float: right;
}

.right-side{
    float: right;
}

.left-side{
    float: left;
}

.right-side:hover, .left-side:hover{
    background: #5B6385;
}

.special{
    color: white;
    text-decoration: none;
}