body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
form{
    width: 600px;
    margin: 100px auto  0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #30475e, 0 4px 8px 0 #30475e;
    color:red;
}
h1{
    text-align: center;
}
.box{
    width: 100%;
    padding: 10px;
    border-color: #30475e;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    background-color:white;
}
.div1{
    display: inline-block;
    
}
.box2{
    border-color: #30475e;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0 15px 0;
    background-color: white;
}
.btn{
    width: 49%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: red;
    font-size: 18px;
    color: #fff;
}

.newBG{
    background-color:red;
}

button{
    margin:1px;
    width: 49%;
    padding: 10px;
    border: black 1px solid;
    border-radius: 15px;
    font-size: 18px;
    background-color:white;
}
@media screen and (max-width: 600px){
    body{
        padding: 20px;
    }
    form{
        width: 100%;
        box-sizing: border-box;
    }
    .div1{
        display: block;
    }
    .box2{
        width: 100%;
        box-sizing: border-box;
    }
}

