/*https://www.youtube.com/watch?v=f3mwKLXpOLk*/
html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.back{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 10px;
}

h1{
    font-size: 50px;
    color: white;
    border: 3px solid white;
    padding: 5rem 10rem;
} 

:root {
    --gradient: linear-gradient(-45deg, #ee6352, purple, #ee6352);
  
  }
  
body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    background: #ddd;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}

/*Blue Highlight*/

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}